@import url(./__container/comments__container.css);
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 102px;
    box-sizing: border-box;
    max-width: 1184px;
}

@media screen and (max-width: 1280px) {
    .comments {
        margin-left: 48px;
        margin-right: 48px;
        max-width: 1184px;
    }
}

@media screen and (max-width: 1024px) {
    .comments {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .comments {
        max-width: 660px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 48px;
    }
}

@media screen and (max-width:375px) {
    .comments {
        max-width: 288px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width:320px) {
    .comments {
        max-width: 288px;
    }
}