@import url(../photo-grid/__item/photo-grid__item.css);


.photo-grid {
    margin-top: 102px;
    width: 100%;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 72px;
}

@media screen and (max-width:  1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width: 375px) {
    .photo-grid {
        max-width: 343px;
        display: flex;
        flex-direction: column;
    }
}
