@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subitile/lead__subitile.css);
@import url(./__title/lead__title.css);
.lead {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) {
    .lead {
        min-width: 320px;
    }
}

@media screen and (min-width: 375px) {
    .lead {
        min-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: 984px;
    }
}