.photo-grid__item {
    max-width: 288px;
    max-height: 192px;
    width: 100%;
}

@media screen and (max-width:1280px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 200px;
    }
}

@media screen and (max-width:1024px) {
    .photo-grid__item {
        max-width: 352px;
        max-height: 234px;
    }
}

@media screen and (max-width:365px) {
    .photo-grid__item {
        max-width: 343px;
        max-height: 232px;
    }
}