@import url(./__logo/header__logo.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_type/header__lang_type_selected.css);

.header{
    /* width: calc(100% - 128px * 2); */
    max-width: 1184px;
    margin: 30px auto 48px auto;    
    display: flex;    
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 375px) {
    .header {
        max-width: 343px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
    }
}