.footer__copyright {
    font-size: 14px;
    line-height: 20px;
    margin: 48px auto 0 0;
}

@media screen and (min-width:768px) {
    .footer__copyright {
        align-self: flex-end;
        margin: 0;
        margin-left: auto;
    }
}
