.intro__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width:375px) {
    .intro__text {
        font-size: 16px;
        line-height: 169.43%;
    }
}