@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text/_type/intro__text_type_bold.css);
@import url(./__list/intro__list.css);

.intro{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 985px;
    width: 100%;
}

@media screen and (max-width:1024px){
    .intro{
        max-width: 928px;
    }
}

@media screen and (max-width:768px){
    .intro{
        max-width: 720px;
    }
}

@media screen and (max-width:375px){
    .intro{
        margin-top: 64px;
        max-width: 343px;
    }
}

@media screen and (max-width:320px){
    .intro{
        margin-top: 64px;
        max-width: 288px;
    }
}