.footer__row{
    margin: 0;
    margin-right: 18px;
}

.footer__row:last-of-type {
    margin-right: 0;
}

@media screen and (max-width:767px){
    .footer__row{
        margin: 0;
        margin-bottom: 18px;
    }
    .footer__row:last-of-type {
        margin-bottom: 0;
    }
}