.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin-top: 270px;
    margin-bottom: 130px;
}

@media screen and (max-width:1024px) {
    .cover__title {
        margin-top: 211px;
        margin-bottom: 80px;
        max-width: 720px;
        ;
    }
}

@media screen and (max-width:768px) {
    .cover__title {
        margin-top: 165px;
        margin-bottom: 45px;
        max-width: 720px;
    }
}