@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);
@import url(./__link/_basis/footer__link_basis-list.css);
@import url(./__nav/footer__nav.css);

footer {
    display: flex;
    flex-direction: column;
    margin: 64px 0 24px 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px 0 16px;
   
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        margin: 160px auto 48px auto;
        padding: 0 24px 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 0 48px 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 0;
        max-width: 1184px;
    }
}