@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

footer{
    margin-top: 160px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 722px;
    }
}