.content-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    max-width: 288px;
    margin-bottom: 16px;
}

@media screen and (min-width:375px) {
    .content-title {
        max-width: 343px;
    }
}

@media screen and (min-width:768px) {
    .content-title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 24px;
        max-width: 660px;
    }
}

@media screen and (min-width:1024px) {
    .content-title {
        font-size: 72px;
        line-height: 78px;
        margin-bottom: 48px;
        max-width: 800px;
    }
}